<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Custname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-custname" class="form-control form-control" name="row[CustName]" type="text" data-rule="required"  value="徐国平">
        </div>
    </div>
    <!--div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Resp_code')}:</label>
    <div class="col-xs-12 col-sm-8">
    <input id="c-resp_code" class="form-control form-control" name="row[resp_code]" type="text">
    </div>
    </div>
    <div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Resp_msg')}:</label>
    <div class="col-xs-12 col-sm-8">
    <input id="c-resp_msg" class="form-control form-control" name="row[resp_msg]" type="text">
    </div>
    </div-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Accnbr')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-accnbr" class="form-control form-control" name="row[AccNbr]" type="text" data-rule="required;mobile"  value="13776620160">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Icno')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-icno" class="form-control form-control" name="row[IcNo]" type="text"  data-rule="required;IDcard" value="340823197509092111">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Contactname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contactname" class="form-control form-control" name="row[ContactName]" type="text" data-rule="required" value="徐国平">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Contactphone')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contactphone" class="form-control form-control" name="row[ContactPhone]" type="text" data-rule="required" value="13776620160">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::radios('row[Type]', [ '0'=>'新装'], '0', ['data-rule'=>'required'])}
        </div>
    </div>    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Goodcode')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-goodcode" class="form-control form-control" name="row[GoodCode]" type="text" value="2001">
        </div>
    </div>
    <!--div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('商品名称')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-addressid" class="form-control form-control" name="row[addressid]" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('商品价格')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-addressname" class="form-control form-control" name="row[addressname]" type="text">
        </div>
    </div-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Remark')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-comments" class="form-control form-control" name="row[Remark]" type="text">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
