<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('号码地市')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-region" data-rule="required" class="form-control" name="row[Region]"  data-rule="required"> 
                {volist name="regionList" id="vo"}
                <option value="{$vo['areaid']}-{$vo['areaname']}">{$vo['areaid']}-{$vo['areaname']}</option>
                {/volist}
            </select>
        </div>
    </div>
    <!--div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('商品类型')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-offer_id" data-rule="required" class="form-control" name="row[offer_id]"  data-rule="required"> 
                {volist name="offerList" id="vo"}
                <option value="{$vo['offer_id']}">{$vo['offer_name']}---{$vo['price']}元</option>
                {/volist}
            </select>
        </div>
    </div-->
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('手机号码')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-mobile" class="form-control form-control" name="row[mobile]" type="text" >
        </div>
    </div>   
     
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
