<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">


    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('联动选择')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="form-inline" data-toggle="cxselect" data-selects="province,city,area,street">
                <select class="province form-control" name="province" data-url="hkajax/province"></select>
                <select class="city form-control" name="city" data-url="hkajax/city"></select>                                                   
                <select class="area form-control" name="area" data-url="hkajax/area"></select>
                <select class="street form-control" name="street" data-url="hkajax/street"></select>

                <!--div class="form-control">
                <input type="submit" class="btn-block" value="提交"/>
                </div-->

            </div>
        </div>
    </div>

    <!--div class="form-group">
    <label class="control-label col-xs-12 col-sm-2">{:__('Region')}:</label>
    <div class="col-xs-12 col-sm-8">
    <select id="c-region1" data-rule="required" class="form-control" name="row[Region1]">
    <option value="">-------请选择-------</option>
    {foreach name="regionList1" item="vo"}
    <option value="{$key}" {in name="key" value=""}selected{/in}>{$vo}</option>
    {/foreach}
    </select>
    </div>
    </div-->

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">地址名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-price" class="form-control form-control" name="row[Address]" type="text"  data-rule="required">
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">查询页数:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pageindex" class="form-control form-control" name="row[Page]" type="number" value="1" data-rule="required">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">每页查询个数:</label>
        <div class="col-xs-12 col-sm-8">
            {:Form::select('row[Limit]', ['10'=>'10条记录', '20'=>'20条记录','30'=>'30条记录', '50'=>'50条记录'], '10', ['data-rule'=>'required'])}
        </div>
    </div>


    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
