#========PHP项目==========
/nbproject/
/thinkphp/
/vendor/
/runtime/*
/addons/*
/application/admin/command/Install/*.lock
/public/assets/libs/
/public/assets/addons/*
/public/uploads/*
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env

#显式指定忽略具体文件名
config.php
database.php
mail.php
readme.txt
readme_band.txt
git_cmd.txt



