<style>#cxselect-example textarea{margin:10px 0;}</style>
<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding" id="cxselect-example">
                    <form id="cxselectform" action="">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="panel panel-default">
                                    <div class="panel-heading"><b>省市区联动</b>(通过AJAX读取数据)</div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-18">
                                                <div class="form-inline" data-toggle="cxselect" data-selects="province,city,area,street">
                                                    <input type="text" class="form-control" name="address" value=""  data-rule="required" />
                                                    <select class="province form-control" name="province" data-url="hkajax/province"></select>
                                                    <select class="city form-control" name="city" data-url="hkajax/city"></select>                                                   
                                                    <select class="area form-control" name="area" data-url="hkajax/area"></select>
                                                    <select class="street form-control" name="street" data-url="hkajax/street"></select>
                                                    
                                                        <!--div class="form-control">
                                                            <input type="submit" class="btn-block" value="提交"/>
                                                        </div-->
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>