<form id="cxselectform" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

	<div class="form-group">
		<label class="control-label col-xs-12 col-sm-2">安装地址:</label>
		<div class="form-inline" data-toggle="cxselect" data-selects="province,city,area,street,build,unit,room">
			<!--&nbsp;&nbsp;&nbsp;&nbsp;-->
			<select class="province form-control" name="province" data-url="hkajax/province"></select>
			<select class="city form-control" name="city" data-url="hkajax/city"></select>
			<select class="area form-control" name="area" data-url="hkajax/area"></select>
			<select class="street form-control" name="street" data-url="hkajax/street"></select>
			<select class="build form-control" name="build" data-url="hkajax/build"></select>
			<select class="unit form-control" name="unit" data-url="hkajax/unit"></select>
			<select class="room form-control" name="room" data-url="hkajax/room"></select>

			<!--div class="form-control">
			<input type="submit" class="btn-block" value="提交"/>
			</div-->

		</div>
	</div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">联系人姓名:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contactname" class="form-control form-control" name="row[ContactName]" type="text" data-rule="required" value="徐国平">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">联系人电话:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-contactphone" class="form-control form-control" name="row[ContactPhone]" type="text" data-rule="required" value="13776620160">
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">商品名称:</label>
         <div class="col-xs-12 col-sm-8">
           <select id="c-goodcode" data-rule="required" class="form-control" name="row[GoodCode]"  data-rule="required">
                <option value="">-------请选择-------</option>
                {volist name="list" id="vo"}
                <option value="{$vo['offer_id']}">{$vo['offer_name']}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">备注:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-remark" class="form-control form-control" name="row[Remark]" type="text" data-rule="required" value="备注">
        </div>
    </div>

	<input id="c-bid" class="form-control form-control"  name="bid" type="hidden" value="{$bid}">


	<div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
	</form>
